<!DOCTYPE html>
<html lang="en">
    <head>
        <title>voice-chat</title>
        <link href="../static/styles.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    </head>
        <div class="box">
            <table style="width:100%">
                <tr>
                    <td>
                        <button type="button">
                            <img src="../static/start-server.png">
                            <p>start chat</p>
                        </button>
                    </td>
                    <td>
                        <button type="button">
                            <img src="../static/start-client.png">
                            <p>join chat</p>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button">
                            <img src="../static/configuration.png">
                            <p>configuration</p>
                        </button>
                    </td>
                    <td>
                        <button type="button">
                            <img src="../static/quit.png">
                            <p>quit</p>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>